<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
  </head>
  <body>
    <br>
    <div class="container">
      <% @list_rn.each do |row| %>
        <h1 class="title is-3"><%= row.nom %></h1>
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>Nom</th>
              <th>Qualite</th>
              <th>Prix unitaire</th>
              <th>a</th>
              <th>v</th>
              <th>p</th>
              <th>Cout total</th>
              <th>Duree total</th>
              <th>Qualite prix</th>
            </tr>
          </thead>
          <tbody>
            <% result = VPrestataire.tri_prestataires(row.id) %>
            <% result.each do |item| %>
              <tr>
                <td><%= item["id"] %></td>
                <td><%= item["nom"] %></td>
                <td><%= VPrestataire.calc_qualite(row.id, item["id"])["qualite"] %></td>
                <td><%= item["prix"] %> Ar</td>
                <td><%= item["a"] %></td>
                <td><%= item["v"] %></td>
                <td><%= item["p"] %></td>
                <td><%= Lalana.calc_cout_rn(row.id, item["id"])["cout_total"] %> Ar</td>
                <td><%= Lalana.calc_duree_rn(row.id, item["id"])["duree_total"] %> j</td>
                <td><%= item["qualiteprix"] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <hr>
      <% end %>
    </div>
  </body>
</html>
